.seoservice {
  padding-bottom: 120px;
}

.seoservice__title {
  font-weight: 900;
  font-size: clamp(28px, 4vw, 46px);
  padding-bottom: clamp(30px, 5vw, 60px);
  line-height: 130%;
  color: #1e212c;
  text-align: center;
}

.seoservice__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  background: linear-gradient(to right, #dadbdd00 0%, #dadbdd 50%, #dadbdd00 100%);
}

.seoservice__content > div {
  padding-left: clamp(20px, 6vw, 50px);
  padding-right: clamp(20px, 6vw, 50px);
  padding-bottom: clamp(20px, 4vw, 40px);
  background: white;
}

.seoservice__content-item-4,
.seoservice__content-item-5,
.seoservice__content-item-6 {
  background: white;
  padding-top: 1vw;
}

.seoservice__content-image {
  width: 15%;
  padding-bottom: 1vw;
}

.seoservice__content-title {
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 0.5vw;
  line-height: 150%;
  color: #1e212c;
}

.seoservice__content__description {
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

.studies__view-title {
  text-align: center;
}

@media (769px <= width <=1440px) {
  .seoservice__content {
    font-size: 16px;
  }
}

@media (width <= 768px) {
  .seoservice__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    background: linear-gradient(to right, #dadbdd00 0%, #dadbdd 50%, #dadbdd00 100%);
  }

  .seoservice__content > div > img {
    width: 35px;
    height: 35px;
  }

  .seoservice__content-title {
    font-size: 20px;
  }

  .seoservice__content-description {
    font-size: 14px;
  }

  .seoservice__title {
    font-size: 30px;
    font-weight: 700;
  }

  .seoservice__content-item-3,
  .seoservice__content-item-4,
  .seoservice__content-item-5,
  .seoservice__content-item-6 {
    padding-top: 15px;
  }
}
