.studies {
  background-color: #f4f5f6;
}

.studies__title {
  font-weight: 900;
  line-height: 130%;
  font-size: 46px;
  color: #1e212c;
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
}

.studies__content-card {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #e5e8ed;
  box-shadow:
    0 80px 80px -20px rgb(154 156 165 / 8%),
    0 30px 24px -10px rgb(154 156 165 / 5%),
    0 12px 10px -6px rgb(154 156 165 / 4%),
    0 4px 4px -4px rgb(30 33 44 / 3%);
  border-radius: 4px;
  padding: 40px;
  flex: 1;
}

.studies__content {
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: stretch;
  padding-bottom: 60px;
}

.studies__content-card-image {
  background-image:
    linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)), url('/src/static/dydin/pictures/background-card.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  padding: 40px;
  flex: 1;
}

.studies__content-title {
  font-weight: 400;
  line-height: 150%;
  font-size: 14px;
}

.studies__content-line {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, #dadbdd00 0%, #dadbdd 50%, #dadbdd00 100%);
  border-image-slice: 1;
  padding-top: 20px;
}

.studies__content-description {
  font-weight: 400;
  line-height: 160%;
  font-size: 16px;
  color: #787a80;
  padding-top: 20px;
  padding-bottom: 70px;
}

.studies__content-title-image {
  font-weight: 400;
  line-height: 150%;
  font-size: 14px;
  color: white;
}

.studies__content-description-image {
  font-weight: 400;
  line-height: 160%;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 70px;
  color: white;
}

.studies__view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 85px;
}

.studies__view-title {
  font-size: 28px;
  line-height: 150%;
  font-weight: 700;
}

.studies__view .studies__view-button {
  padding: 0 40px;
  background: #7772f1;
  border-radius: 4px;
  border: 1px solid #7772f1;
  letter-spacing: 0.5px;
  line-height: 52px;
  color: white;
  font-weight: 700;
  font-size: 16px;
}
