.hero {
  background: url('/src/static/dydin/pictures/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 653px;
  position: relative;
}

.hero__content-information {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 60px;
}

.hero__content-route {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 80px 20% 40px;
}

.hero__content-item {
  display: flex;
  align-items: center;
}

.hero__content-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 150%;
  display: flex;
}

.hero__content-icon {
  width: 16px;
  height: 16px;
}

.hero__content-separator {
  display: flex;
  align-items: center;
}

.hero__content-chevron {
  width: 16px;
  height: 16px;
}

.hero__content-text {
  color: white;
  font-size: 14px;
  line-height: 150%;
  opacity: 0.6;
}

.hero__content-title {
  font-size: 72px;
  font-weight: 900;
  color: white;
  line-height: 130%;
  text-align: center;
  padding-bottom: 24px;
}

.hero__content-description {
  color: white;
  opacity: 0.6;
  line-height: 150%;
  font-size: 20px;
  text-align: center;
}
