.other__title {
  font-weight: 900;
  line-height: 130%;
  font-size: 46px;
  color: var(--color-text-primary);
  padding-top: 120px;
  padding-bottom: 60px;
  text-align: center;
}

.other__tabs {
  display: flex;
  justify-content: stretch;
  padding-bottom: 60px;
}

.other__content {
  display: flex;
}

.other__tabs-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 32px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-text-tertiary);
  flex: 1;
}

.other__tabs-button--active {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 32px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-primary);
  font-weight: 700;
  flex: 1;
}

.other__content-information-item {
  padding-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-wrap: nowrap;
}

/* .other__content-information-button {
  font-size: 28px;
  line-height: 150%;
  font-weight: 700;
  padding-bottom: 24px;
} */

.other__content-information-item::before {
  content: url('/src/static/dydin/svg/mark.svg');
  width: 16px;
  vertical-align: middle;
  height: 16px;
  padding-right: 13px;
}

.other__content-information-buttons {
  display: flex;
  gap: 24px;
  font-size: 16px;
  padding: 10px 32px;
}

.other__content-information-button {
  padding: 13px 20px;
  background: var(--color-primary);
  color: var(--color-text-white);
  border-radius: 0 4px 4px 0;
  border: none;
  font-weight: 400;
  font-size: 16px;
}

.other__content-information-button--outline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 32px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-primary);
  font-weight: 700;
  background: transparent;
}

.other__content-information-list {
  padding-bottom: 48px;
}

.other__content-image-wrapper {
  position: relative;
  display: inline-block;
  background-image: url('/src/static/dydin/svg/bg-shape.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 40px;
  padding-bottom: 83px;
}

@media (width <= 768px) {
  .other__title {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 40px;
    padding-top: 50px;
  }

  .other__tabs {
    flex-wrap: wrap;
    padding-bottom: 40px;
  }

  .other__content {
    flex-direction: column-reverse;
  }

  .other__content-information {
    text-align: center;
  }

  .other__content-information-buttons {
    justify-content: center;
  }
}

