.pricing__text {
  font-weight: 900;
  line-height: 130%;
  font-size: 46px;
  color: var(--color-text-primary);
  padding-bottom: 60px;
  text-align: center;
}

.pricing__tabs {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.pricing__tabs-button {
  width: 210px;
  background-color: var(--color-primary);
  border-radius: 40px;
  padding: 10px 74px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-text-white);
  height: 46px;
  border: none;
}

.pricing__tabs-button--disabled {
  position: relative;
  width: 210px;
  left: -50px;
  height: 46px;
  border-radius: 40px;
  padding: 10px 54px 10px 74px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-color: transparent;
}

.pricing__tabs-button--disabled::after {
  content: '-12% Off';
  padding-left: 8px;
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  text-wrap: nowrap;
}

.pricing__content {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-items: center;
  padding-bottom: 120px;
}

.pricing__content-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pricing__content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 536px;
  text-align: start;
  flex: 1;
  box-sizing: border-box;
  background: var(--color-bg-primary);
  border: 1px solid var(--color-border-accent);
  box-shadow:
    0 80px 80px -20px var(--color-shadow-light),
    0 30px 24px -10px var(--color-shadow-medium),
    0 12px 10px -6px var(--color-shadow-small),
    0 4px 4px -4px var(--color-shadow-dark);
  border-radius: 4px;
}

.pricing__content-card--accent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 536px;
  text-align: start;
  flex: 1;
  box-sizing: border-box;
  background: var(--color-bg-dark);
  border: 1px solid var(--color-primary-accent);
  box-shadow:
    0 60px 80px -20px var(--color-shadow-dark-large),
    0 26px 24px -10px var(--color-shadow-dark-medium),
    0 12px 10px -6px var(--color-shadow-dark-small),
    0 4px 4px -4px var(--color-shadow-dark-tiny);
  border-radius: 4px;
}

.pricing__content-item {
  padding-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-wrap: nowrap;
}

.pricing__content-item::before {
  content: url('/src/static/dydin/svg/mark.svg');
  width: 16px;
  vertical-align: middle;
  height: 16px;
}

.pricing__content-card--accent .pricing__content-item {
  color: var(--color-text-white);
}

.pricing__content-card--accent .pricing__content-item::before {
  content: url('/src/static/dydin/svg/mark-black.svg');
  width: 16px;
  vertical-align: middle;
  height: 16px;
}

.pricing__content-line {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, var(--color-gradient-border-start) 0%, var(--color-gradient-border-middle) 50%, var(--color-gradient-border-end) 100%);
  border-image-slice: 1;
  padding-bottom: 15px;
}

.pricing__content-item--disabled {
  padding-top: 8px;
  font-size: 16px;
  line-height: 160%;
}

.pricing__content-item--disabled::before {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  font-weight: 400;
  content: url('/src/static/dydin/svg/cross.svg');
}

.pricing__content-card--accent .pricing__content-item--disabled {
  color: var(--color-text-white);
}

.pricing__content-card--accent .pricing__content-item--disabled::before {
  content: url('/src/static/dydin/svg/cross.svg');
}

.pricing__content-title {
  padding-top: 40px;
  color: var(--color-text-primary);
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  padding-bottom: 8px;
}

.pricing__content-card--accent .pricing__content-title {
  color: var(--color-text-white);
}

.pricing__content-price {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  text-align: center;
  color: var(--color-primary);
}

.pricing__content-price::after {
  content: '/mon';
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  vertical-align: text-top;
}

.pricing__content-card--accent .pricing__content-price {
  color: var(--color-primary-accent);
}

.pricing__content-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px;
  background: var(--color-primary);
  border-radius: 4px;
  border: 1px solid var(--color-primary);
  letter-spacing: 0.5px;
  line-height: 44px;
  color: var(--color-text-white);
  font-weight: 400;
  font-size: 14px;
  align-self: center;
}

.pricing__content-button--outline {
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid var(--color-primary);
  background: transparent;
  color: var(--color-primary);
}

@media (width <= 768px) {
  .pricing__content {
    flex-flow: column wrap;
    gap: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .pricing__content-list > li {
    flex: 1 1 50%;
  }

  .pricing__content-list {
    gap: 0.5vw;
    text-align: center;
  }

  .pricing__content-card,
  .pricing__content-card--accent {
    flex: 1 1 100%;
    max-width: 100%;
    padding-bottom: 10vw;
  }

  .pricing__tabs {
    flex-direction: row;
    gap: 16px;
  }

  .pricing__tabs-button,
  .pricing__tabs-button--disabled {
    width: 100%;
    padding: 10px 0;
  }
  .pricing__text{
    font-weight: 700;
    font-size: 32px;
  }
}
