.pricing__text {
  font-weight: 900;
  line-height: 130%;
  font-size: 46px;
  color: #1e212c;
  padding-bottom: 60px;
  text-align: center;
}

.pricing__tabs {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.pricing__tabs-button {
  width: 210px;
  background-color: #7772f1;
  border-radius: 40px;
  padding: 10px 74px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: white;
  height: 46px;
  border: none;
}

.pricing__tabs-button--disabled {
  position: relative;
  width: 210px;
  left: -50px;
  height: 46px;
  border-radius: 40px;
  padding: 10px 54px 10px 74px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #7772f1;
  border: 1px solid #7772f1;
  background-color: transparent;
}

.pricing__tabs-button--disabled::after {
  content: '-12% Off';
  padding-left: 8px;
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  text-wrap: nowrap;
}

.pricing__content {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-items: center;
  padding-bottom: 120px;
}

.pricing__content-list {
  display: flex;
  flex-direction: column;
  padding: 24px 25% 32px;
}

.pricing__content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 536px;
  text-align: start;
  flex: 1;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid rgb(119 114 241 / 40%);
  box-shadow:
    0 80px 80px -20px rgb(154 156 165 / 8%),
    0 30px 24px -10px rgb(154 156 165 / 5%),
    0 12px 10px -6px rgb(154 156 165 / 4%),
    0 4px 4px -4px rgb(30 33 44 / 3%);
  border-radius: 4px;
}

.pricing__content-card--accent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 536px;
  text-align: start;
  flex: 1;
  box-sizing: border-box;
  background: #1e212c;
  border: 1px solid #03cea4;
  box-shadow:
    0 60px 80px -20px rgb(30 33 44 / 16%),
    0 26px 24px -10px rgb(30 33 44 / 10%),
    0 12px 10px -6px rgb(30 33 44 / 8%),
    0 4px 4px -4px rgb(30 33 44 / 5%);
  border-radius: 4px;
}

.pricing__content-item {
  padding-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-wrap: nowrap;
}

.pricing__content-item::before {
  content: url('/src/static/dydin/svg/mark.svg');
  width: 16px;
  vertical-align: middle;
  height: 16px;
}

.pricing__content-card--accent .pricing__content-item {
  color: white;
}

.pricing__content-card--accent .pricing__content-item::before {
  content: url('/src/static/dydin/svg/mark-black.svg');
  width: 16px;
  vertical-align: middle;
  height: 16px;
}

.pricing__content-line {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, #dadbdd00 0%, #dadbdd 50%, #dadbdd00 100%);
  border-image-slice: 1;
  padding-bottom: 15px;
}

.pricing__content-item--disabled {
  padding-top: 8px;
  font-size: 16px;
  line-height: 160%;
}

.pricing__content-item--disabled::before {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  font-weight: 400;
  content: url('/src/static/dydin/svg/cross.svg');
}

.pricing__content-card--accent .pricing__content-item--disabled {
  color: white;
}

.pricing__content-card--accent .pricing__content-item--disabled::before {
  content: url('/src/static/dydin/svg/cross.svg');
}

.pricing__content-title {
  padding-top: 40px;
  color: #1e212c;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  padding-bottom: 8px;
}

.pricing__content-card--accent .pricing__content-title {
  color: white;
}

.pricing__content-price {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  text-align: center;
  color: #7772f1;
}

.pricing__content-price::after {
  content: '/mon';
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  vertical-align: text-top;
}

.pricing__content-card--accent .pricing__content-price {
  color: #03cea4;
}

.pricing__content-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px;
  background: #7772f1;
  border-radius: 4px;
  border: 1px solid #7772f1;
  letter-spacing: 0.5px;
  line-height: 44px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  align-self: center;
}

.pricing__content-button--outline {
  padding-left: 32px;
  padding-right: 32px;
  border: 1px solid #7772f1;
  background: transparent;
  color: #7772f1;
}
