.nav {
  display: flex;
  justify-content: space-between;
}

.nav__content {
  display: flex;
  align-items: center;
  justify-content: left;
}

.nav__content-list {
  display: flex;
  color: white;
  gap: 40px;
  padding-left: 85px;
}

.nav__button {
  height: 52px;
  width: 199px;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
}

.nav__content--link-chevron::after {
  content: url('/src/static/dydin/svg/chevron-down.svg');
  display: inline-block;
  padding-left: 10px;
  width: 16px;
  height: 16px;
}

@media (width >= 1279px) {
  .nav__content {
    display: flex;
  }
}

@media (width >= 639px) {
  .block {
    display: flex;
  }
}
