.deal {
  position: relative;
  margin-top: 83px;
  height: 136px;
  text-align: center;
}

.deal__title {
  font-family: Agenda, sans-serif;
  font-size: 36px;
  font-weight: 550;
  line-height: 32px;
  color: var(--color-black);
  margin-bottom: 20px;
}

.deal__line {
  width: 127px;
  height: 4px;
  background-color: var(--color-orange);
  margin: 0 auto 20px;
}

.deal__description {
  font-family: Agenda, sans-serif;
  font-size: 18px;
  height: 55px;
  color: var(--color-light-black);
  width: 759px;
  margin: 0 auto;
}
