.deal {
  background-color: var(--color-white);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
}

.deal__title {
  color: var(--color-black);
  padding-bottom: 20px;
}

.deal__line {
  width: 127px;
  height: 4px;
  background-color: var(--color-orange);
  margin: 0 auto 20px;
}

.deal__description {
  color: var(--color-light-black);
  width: 50%;
  margin: 0 auto;
}
