.our-products {
    padding: 135px 5% 80px 5%;
    background-color: var(--color-white);
}

.our-products__title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: var(--color-black);
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.our-products__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.our-products__list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-products__list__item__image-wrapper {
    position: relative;
    display: inline-block;
    width: 397px;
    transition: all 0.3s ease-in-out;
}

.our-products__list__item__image {
    display: block;
    object-fit: cover;
}

.our-products__list__item__image-wrapper:hover {
    transform: scale(1.02);
}



.our-products__list__item__sale {
    background-color: var(--color-orange);
    position: absolute;
    top: 11px;
    right: 11px;
    color: var(--color-white);
    padding: 5px 9px;
    font-weight: 600;
    font-size: 12px;
    z-index: 10;
}

.our-products__list__item__title {
    font-weight: 500;
    font-size: 20px;
    margin-top: 22px;
    margin-bottom: 7px;
}

.our-products__list__item__price {
    display: flex;
    flex-direction: row;
    gap: 21px;
    align-items: center;
    justify-content: center;
}

.our-products__list__item__actual-price {
    font-weight: 600;
    font-size: 20px;
    color: var(--color-orange);
}

.our-products__list__item__old-price {
    font-weight: 600;
    font-size: 20px;
    color: var(--color-gray);
    text-decoration: line-through;
}

.our-products__button {
    width: 254px;
    height: 56px;
    background-color: transparent;
    color: var(--color-black);
    padding: 16px 47px;
    border: 2px solid var(--color-orange);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    margin-top: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.our-products__button:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
}