.footer {
  background-color: #1e212c;
  padding-top: 80px;
}

.footer__content-item-link {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  opacity: 0.6;
  padding-bottom: 8px;
  color: white;
}

.footer__content-item-title {
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  color: white;
  padding-bottom: 12px;
}

.footer__content-description {
  padding-top: 24px;
  font-size: 12px;
  line-height: 150%;
  font-weight: 400;
  opacity: 0.6;
  color: white;
  padding-bottom: 38px;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
}

.footer__content-menu {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  gap: 30px;
}

.footer__content-item {
  display: flex;
  flex-direction: column;
}

.footer__content-reviews {
  grid-column: 1 / -1;
  display: flex;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid rgb(255 255 255 / 10%);
}

.footer__content-item-input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.footer__content-item-input {
  width: 100%;
  padding: 7px 30px 7px 7px;
  box-sizing: border-box;
  flex: 1;
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 4px;
}

.footer__content-item-input-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-40%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.footer__made {
  background-color: #292c37;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.footer__made-text {
  color: white;
  font-size: 12px;
  line-height: 150%;
  display: flex;
  align-items: start;
  opacity: 1;
  gap: 4px;
}

.footer__made-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.footer__content-item-text {
  font-size: 10px;
  color: white;
  padding-top: 12px;
  line-height: 150%;
}
