.successful__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 180px;
  gap: clamp(40px, 6vw, 140px);
}

.successful__content-title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  padding-bottom: 40px;
  text-align: center;
}

.successful__content-description {
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
  text-align: center;
}

.successful__content-image {
  border-radius: 4px;
  flex: 1 1 auto;
  width: clamp(280px, 40vw, 600px);
  max-width: 100%;
  height: auto;
  object-fit: cover;
  min-width: 0;
}

.successful__content-text {
  max-width: 390px;
}

@media (width <= 768px) {
  .successful__content-image {
    width: 100%;
  }

  .successful__content {
    flex-wrap: wrap;
    place-content: center center;
    padding-bottom: 40px;
  }

  .successful__content-title {
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
  }

  .successful__content-text {
    max-width: none;
    text-align: center;
  }
}
