@import url('../normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('blocks/header/header.css');
@import url('blocks/nav/nav.css');
@import url('blocks/hero/hero.css');
@import url('blocks/analyse/analyse.css');
@import url('layout/container.css');
@import url('blocks/cooperation/cooperation.css');
@import url('blocks/successful/successful.css');
@import url('blocks/contact/contact.css');
@import url('blocks/information/information.css');
@import url('blocks/studies/studies.css');
@import url('blocks/graph/graph.css');
@import url('blocks/other/other.css');
@import url('blocks/footer/footer.css');

body {
  font-family: 'Lato';
}
.button {
  background: #7772f1;
  font-weight: 700;
  color: white;
  border-radius: 4px;
  border: none;
}
.input {
  background-color: #ffffff1f;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}

.input:focus {
  outline: none;
  box-shadow: none;
}
.input::placeholder {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
}
