.information__content {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  grid-template-rows: auto auto auto auto;
  gap: 0 20px;
  padding-bottom: 180px;
  max-width: 100%;
}

.information__content-item-1 {
  grid-column: 3;
  grid-row: 1;
  min-width: 0;
}

.information__content-item-2 {
  grid-column: 1;
  grid-row: 2;
  text-align: right;
  min-width: 0;
}

.information__content-item-3 {
  grid-column: 3;
  grid-row: 3;
  min-width: 0;
}

.information__content-item-4 {
  grid-column: 1;
  grid-row: 4;
  text-align: right;
  min-width: 0;
}

.information__content-item-5 {
  grid-column: 2;
  grid-row: span 4;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 60px;
  max-width: 120px;
  background-image: url('/src/static/dydin/svg/line.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.information__title {
  padding-top: 120px;
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  color: var(--color-text-primary);
  text-align: center;
  padding-bottom: 65px;
}

.information__content-step {
  font-size: 12px;
  line-height: 150%;
  font-weight: 900;
  color: var(--color-text-secondary);
  padding-bottom: 2px;
}

.information__content-title {
  font-weight: 700;
  line-height: 150%;
  font-size: 20px;
  padding-bottom: 8px;
  color: var(--color-text-primary);
}

.information__content-text {
  font-size: 16px;
  line-height: 160%;
  color: var(--color-text-secondary);
}

@media (width <= 768px) {
  .information__title {
    padding-top: 60px;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 40px;
  }

  .information__content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 40px;
    padding-bottom: 80px;
  }

  .information__content-item-1,
  .information__content-item-2,
  .information__content-item-3,
  .information__content-item-4 {
    grid-column: 1;
    text-align: left;
  }

  .information__content-item-1 {
    grid-row: 1;
  }

  .information__content-item-2 {
    grid-row: 2;
  }

  .information__content-item-3 {
    grid-row: 3;
  }

  .information__content-item-4 {
    grid-row: 4;
  }

  .information__content-item-5 {
    display: none;
  }

  .information__content-title {
    font-size: 18px;
  }

  .information__content-text {
    font-size: 14px;
  }
}
