.information__content {
  display: grid;
  grid-template-columns: 48% auto 48%;
  grid-template-rows: auto auto auto auto;
  padding-bottom: 180px;
}

.information__content-item-1 {
  grid-column: 3;
  grid-row: 1;
}

.information__content-item-2 {
  grid-column: 1;
  grid-row: 2;
  text-align: right;
}

.information__content-item-3 {
  grid-column: 3;
  grid-row: 3;
}

.information__content-item-4 {
  grid-column: 1;
  grid-row: 4;
  text-align: right;
}

.information__content-item-5 {
  grid-column: 2;
  padding-left: 40px;
  padding-right: 40px;
  grid-row: span 4;
  background-image: url('/src/static/dydin/svg/line.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.information__title {
  padding-top: 120px;
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  color: #1e212c;
  text-align: center;
  padding-bottom: 65px;
}

.information__content-step {
  font-size: 12px;
  line-height: 150%;
  font-weight: 900;
  color: #787a80;
  padding-bottom: 2px;
}

.information__content-title {
  font-weight: 700;
  line-height: 150%;
  font-size: 20px;
  padding-bottom: 8px;
  color: #1e212c;
}

.information__content-text {
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}
