:root {
  --color-white: #fff;
  --color-black: #1d1d1d;
  --color-dark-peach: #fef0e7;
  --color-light-black: #454545;
  --color-orange: #f6623e;
  --color-light-gray: #e8e8e8;
  --color-peach: #fff8f6;
  --color-gray: #9d9d9d;
}
